/* -------------------------------------GENERAL STYLING------------------------------------- */

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
  margin: 0;
}

main {
  color: #ffffff;
  text-align: center;
  line-height: 1.9rem;
  font-family: 'Arial', sans-serif;
}

.main-page__main,
.rules-page__main {
  background-color: #283e50;
  width: 450px;
  margin: 80px auto;
}

.main-page__image {
  width: 100%;
}

.main-page__main,
.rules-page__main,
.main-page__image {
  border-radius: 0.5rem 0.5rem 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  font-size: 3.8rem;
  margin: 0;
  padding: 3rem 0 2.6rem 0;
}

p {
  padding: 1rem;
}

/* -------------------------------------BUTTONS (main-page & rules-page)-------------------------------------*/
.container__buttons a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffffff;
}

.button {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-one {
  background-color: #1fcca4;
  margin-bottom: 2px;
}

.button-one:hover {
  background-color: #1cbb96;
}

.button-two {
  background-color: #0197f6;
}

.button-two:hover {
  background-color: #0090e9;
}

/* -------------------------------------RULES-PAGE------------------------------------- */
.rules-page__heading-rules {
  padding-top: 80px;
}

/* ------list of rules (rules-page)------ */

ol {
  margin: 0 3rem;
}

li {
  text-align: left;
  padding-bottom: 0.7rem;
}

.rules-page__in-text-icon {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

/* ------game situations (rules-page)------ */

figure {
  padding: 0.7rem 0;
}

figcaption {
  text-align: center;
  font-style: italic;
  line-height: 1.5rem;
}

.situation__img {
  width: 100%;
}

/* ------wider screens (rules-page)------ */

@media (min-width: 640px) {
  html {
    min-width: 640px;
  }

  .rules-page__main {
    width: 640px;
  }

  .rules-page__container__situations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  figure {
    width: 40%;
    margin: 0;
    padding: 1rem 0;
  }

  figcaption {
    font-size: 1rem;
  }
}

/* -------------------------------------GAME-PAGE------------------------------------- */
.game-page__main {
  max-width: 80vmin;
  margin: auto;
}

/* ------HEADER in general (game-page)------ */

.game-page__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

/* ------HEADER-left (game-page)------ */

.game-page__header-left {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.game-page__player-text {
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.game-page__player-icon {
  filter: invert(100%);
  width: 1.1em;
  height: 1.1em;
}

/* ------HEADER-right (game-page)------ */

.game-page__header-right a {
  text-decoration: none;
}

.game-page__header-right img {
  padding: 10px;
  border-radius: 4px;
  background-color: #615dad;
  width: 20px;
}

.game-page__home-button img {
  background-color: #1fcca4;
  margin-right: 6px;
}

.game-page__restart-button img {
  background-color: #0090e9;
}

.game-page__home-button img:hover {
  background-color: #1cbb96;
}

.game-page__restart-button img:hover {
  background-color: #0196f5;
}

/* ------PLAYING BOARD (game-page)------ */

.playing-board {
  width: 80vmin;
  height: 80vmin;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px black;
}

.cell {
  height: 10%;
  width: 10%;
  background-color: #c4b6d8;
  border: solid 1px black;
}

.cell:hover {
  background-color: #d4c1dc;
}
