body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

main {
  color: #ffffff;
  text-align: center;
  background-color: #283e50;
  width: 450px;
  margin: 80px auto;
  font-size: 1.2rem;
  line-height: 1.9rem;
  font-family: 'Arial', sans-serif;
}

.obrazek {
  width: 100%;
}

main,
.obrazek {
  border-radius: 0.5rem 0.5rem 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  font-size: 3.8rem;
  margin: 3.2rem 0 2.8rem 0;
}

p {
  padding: 1rem;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffffff;
}

.tlacitko1,
.tlacitko2 {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tlacitko1 {
  background-color: #1fcca4;
  margin-bottom: 2px;
}

.tlacitko1:hover {
  background-color: #1cbb96;
}

.tlacitko2 {
  background-color: #0197f6;
}

.tlacitko2:hover {
  background-color: #0090e9;
}

/* Gradient v pozadí jde z fialové  #615dad do růžové  #ffc8da. */
